body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.text-wrap {
  word-wrap: break-word;
  padding: 20px;
}

.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 90%;
  margin: 0 auto;
  border: 1px solid #ddd;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: wrap;
  min-height: 100%;
}

.ui.grid {
  padding: 20px;
}
